// Fonts
@font-face {
    font-family: 'Mr-Robot';
    src: url("fonts/mr-robot/Mr-Robot.ttf");
    src: url("fonts/mr-robot/Mr-Robot.woff") format("woff"),
         url("fonts/mr-robot/Mr-Robot.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("fonts/roboto-light/Roboto-Light.ttf");
    src: url("fonts/roboto-light/Roboto-Light.woff") format("woff"),
         url("fonts/roboto-light/Roboto-Light.woff2") format("woff2");
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url("fonts/roboto-light-italic/Roboto-LightItalic.ttf");
    src: url("fonts/roboto-light-italic/Roboto-LightItalic.woff") format("woff"),
         url("fonts/roboto-light-italic/Roboto-LightItalic.woff2") format("woff2");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("fonts/roboto-medium/Roboto-Medium.ttf");
    src: url("fonts/roboto-medium/Roboto-Medium.woff") format("woff"),
         url("fonts/roboto-medium/Roboto-Medium.woff2") format("woff2");
}
// Resusables
@logo-size: 80px;
@logo-text-color: #DA212F;
@nav-bgcolor: #333333;
@nav-bgcolor-active: #444444;
@nav-bgcolor-hover: #111111;
@footer-bgcolor: #111111;
@font-mr-robot: 'Mr-Robot', sans-serif;
@font-roboto-medium: 'Roboto-Medium', sans-serif;
@font-roboto-light: 'Roboto-Light', sans-serif;
@font-roboto-light-italic: 'Roboto-LightItalic', sans-serif;
// Styling
body {
    background-color: #F5F5F5;
}
header {
    div {
        border-bottom: 1px solid @logo-text-color;
        background-color: white;
    }
}
.headerlogo {
    display: inline-block;
    width: @logo-size;
    height: @logo-size;
    vertical-align: middle;
    img {
        display: inherit;
        width: @logo-size;
        height: @logo-size;
    }
}
#headername {
    font-size: 42px;
    font-family: @font-mr-robot;
    position: absolute;
    float: left;
    margin: 17px 0 0 8px;
    color: @logo-text-color;
}
.searchbox {
    float: right;
    margin: 8px 8px 0 0;
}
.active {
    background-color: @nav-bgcolor-active;
}
#welcomeimage {
    display: block;
    margin: 0 auto 0 auto;
    width: 700px;
    height: 465px;
    img {
        width: 700px;
        height: 465px;
    }
}
#coffeeofthemonth {
    display: block;
    margin: 10px auto;
    width: 192px;
    height: 256px;
}
#welcometext {
    header {
        font-family: @font-roboto-medium;
        font-size: 48px;
    }
    span {
        font-family: @font-roboto-light;
        p {
            mark {
                font-family: @font-roboto-medium;
            }
        }
    }
    margin: 0 50px;
    column-count: 2;
}
footer {
    background-color: @footer-bgcolor;
    color: white;
    padding: 14px;
    font-family: @font-roboto-light;
    p {
        address {
            font-family: @font-roboto-light-italic;
        }
        a {
            &:visited {
                color: white;
            }
        }
    }
    &:first-child {
        float: left;
    }
}
fieldset {
    border: none;
    legend {
        font-family: @font-roboto-medium;
        font-size: 24px;
    }
    h5 {
        font-family: @font-roboto-medium;
    }
    font-family: @font-roboto-light;
}
#robo1, #robo2, #robo3 {
    font-family: @font-roboto-medium;
    h5 {
        font-family: @font-roboto-light;
    }
}
form {
    fieldset {
        p {
            label {
                font-family: @font-roboto-light;
            }
        }
    }
}
.highlight {
    background-color: yellow !important;
}