// Fonts
@font-face {
    font-family: 'Mr-Robot';
    src: url("fonts/mr-robot/Mr-Robot.ttf");
    src: url("fonts/mr-robot/Mr-Robot.woff") format("woff"),
         url("fonts/mr-robot/Mr-Robot.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
// Resusables
@logo-size: 80px;
@logo-text-color: #DA212F;
@nav-bgcolor: #333333;
@nav-bgcolor-active: #444444;
@nav-bgcolor-hover: #111111;
@footer-bgcolor: #111111;
// Styling
body {
    background-color: #F5F5F5;
}
header {
    div {
        border-bottom: 1px solid @logo-text-color;
        background-color: white;
    }
    nav {
        height: 48px;
        background-color: @nav-bgcolor;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: @nav-bgcolor;
            float: left;
            li {
                float: left;
                a {
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    &:hover {
                        background-color: @nav-bgcolor-hover;
                    }
                }
            }
        }
    }
}
.headerlogo {
    display: inline-block;
    width: @logo-size;
    height: @logo-size;
    vertical-align: middle;
    img {
        display: inherit;
        width: @logo-size;
        height: @logo-size;
    }
}
#headername {
    font-size: 42px;
    font-family: 'Mr-Robot', sans-serif;
    position: absolute;
    float: left;
    margin: 17px 0 0 8px;
    color: @logo-text-color;
}
.searchbox {
    float: right;
    margin: 8px 8px 0 0;
}
.active {
    background-color: @nav-bgcolor-active;
}
footer {
    background-color: @footer-bgcolor;
    color: white;
}